@font-face {
  font-family: "van-icon"; /* Project id 3349930 */
  src: url('//at.alicdn.com/t/font_3349930_njcvnn5cjj.woff2?t=1650696078005') format('woff2'),
       url('//at.alicdn.com/t/font_3349930_njcvnn5cjj.woff?t=1650696078005') format('woff'),
       url('//at.alicdn.com/t/font_3349930_njcvnn5cjj.ttf?t=1650696078005') format('truetype');
}

.van-icon {
  font-family: "van-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.van-icon-fabu:before {
  content: "\e73f";
}

.van-icon-qianbao:before {
  content: "\e67e";
}

.van-icon-gerenjubaodengji:before {
  content: "\e608";
}

.van-icon-location1:before {
  content: "\e64d";
}

.van-icon-qiandao:before {
  content: "\e60b";
}

.van-icon-kefu:before {
  content: "\e603";
}

.van-icon-pintuan:before {
  content: "\e601";
}

.van-icon-shezhi:before {
  content: "\e658";
}

.van-icon-yijianfankui:before {
  content: "\f95d";
}

.van-icon-pinglun-08:before {
  content: "\fc1d";
}

.van-icon-bangzhu:before {
  content: "\fda9";
}

.van-icon-search:before {
  content: "\e600";
}

.van-icon-send-gift-o:before {
  content: "\e741";
}

.van-icon-scan:before {
  content: "\e742";
}

.van-icon-send-gift:before {
  content: "\e743";
}

.van-icon-qr:before {
  content: "\e744";
}

.van-icon-play-circle-o:before {
  content: "\e745";
}

.van-icon-stop-circle-o:before {
  content: "\e746";
}

.van-icon-service-o:before {
  content: "\e747";
}

.van-icon-qr-invalid:before {
  content: "\e748";
}

.van-icon-question-o:before {
  content: "\e749";
}

.van-icon-records:before {
  content: "\e74a";
}

.van-icon-setting:before {
  content: "\e74b";
}

.van-icon-setting-o:before {
  content: "\e74c";
}

.van-icon-shop-collect-o:before {
  content: "\e74d";
}

.van-icon-share-o:before {
  content: "\e74e";
}

.van-icon-replay:before {
  content: "\e74f";
}

.van-icon-question:before {
  content: "\e750";
}

.van-icon-refund-o:before {
  content: "\e751";
}

.van-icon-shopping-cart:before {
  content: "\e752";
}

.van-icon-shop:before {
  content: "\e753";
}

.van-icon-shopping-cart-o:before {
  content: "\e754";
}

.van-icon-shop-collect:before {
  content: "\e755";
}

.van-icon-sign:before {
  content: "\e756";
}

.van-icon-shop-o:before {
  content: "\e757";
}

.van-icon-smile-o:before {
  content: "\e758";
}

.van-icon-smile-comment-o:before {
  content: "\e759";
}

.van-icon-stop:before {
  content: "\e75a";
}

.van-icon-smile:before {
  content: "\e75b";
}

.van-icon-stop-circle:before {
  content: "\e75c";
}

.van-icon-success:before {
  content: "\e75d";
}

.van-icon-smile-comment:before {
  content: "\e75e";
}

.van-icon-tosend:before {
  content: "\e75f";
}

.van-icon-star-o:before {
  content: "\e760";
}

.van-icon-todo-list:before {
  content: "\e761";
}

.van-icon-sort:before {
  content: "\e762";
}

.van-icon-underway:before {
  content: "\e763";
}

.van-icon-tv-o:before {
  content: "\e764";
}

.van-icon-umbrella-circle:before {
  content: "\e765";
}

.van-icon-video:before {
  content: "\e766";
}

.van-icon-vip-card:before {
  content: "\e767";
}

.van-icon-service:before {
  content: "\e768";
}

.van-icon-volume-o:before {
  content: "\e769";
}

.van-icon-user-o:before {
  content: "\e76a";
}

.van-icon-wap-nav:before {
  content: "\e76b";
}

.van-icon-wap-home:before {
  content: "\e76c";
}

.van-icon-video-o:before {
  content: "\e76d";
}

.van-icon-wap-home-o:before {
  content: "\e76e";
}

.van-icon-weapp-nav:before {
  content: "\e76f";
}

.van-icon-underway-o:before {
  content: "\e770";
}

.van-icon-warning:before {
  content: "\e771";
}

.van-icon-vip-card-o:before {
  content: "\e772";
}

.van-icon-volume:before {
  content: "\e773";
}

.van-icon-user-circle-o:before {
  content: "\e774";
}

.van-icon-warn-o:before {
  content: "\e775";
}

.van-icon-warning-o:before {
  content: "\e776";
}

.van-icon-wechat-pay:before {
  content: "\e777";
}

.van-icon-shrink:before {
  content: "\e778";
}

.van-icon-star:before {
  content: "\e779";
}

.van-icon-youzan-shield:before {
  content: "\e77a";
}

.van-icon-thumb-circle:before {
  content: "\e77b";
}

.van-icon-todo-list-o:before {
  content: "\e77c";
}

.van-icon-thumb-circle-o:before {
  content: "\e77d";
}

.van-icon-wechat:before {
  content: "\e77e";
}

.van-icon-upgrade:before {
  content: "\e77f";
}

.van-icon-shield-o:before {
  content: "\e780";
}

.van-icon-invitation:before {
  content: "\e781";
}

.van-icon-guide-o:before {
  content: "\e782";
}

.van-icon-add-square:before {
  content: "\e693";
}

.van-icon-add:before {
  content: "\e694";
}

.van-icon-add-o:before {
  content: "\e695";
}

.van-icon-arrow-left:before {
  content: "\e696";
}

.van-icon-aim:before {
  content: "\e697";
}

.van-icon-arrow:before {
  content: "\e698";
}

.van-icon-arrow-up:before {
  content: "\e699";
}

.van-icon-arrow-down:before {
  content: "\e69a";
}

.van-icon-alipay:before {
  content: "\e69b";
}

.van-icon-ascending:before {
  content: "\e69c";
}

.van-icon-after-sale:before {
  content: "\e69d";
}

.van-icon-bag-o:before {
  content: "\e69e";
}

.van-icon-audio:before {
  content: "\e69f";
}

.van-icon-back-top:before {
  content: "\e6a0";
}

.van-icon-award:before {
  content: "\e6a1";
}

.van-icon-bag:before {
  content: "\e6a2";
}

.van-icon-award-o:before {
  content: "\e6a3";
}

.van-icon-balance-list:before {
  content: "\e6a4";
}

.van-icon-balance-o:before {
  content: "\e6a5";
}

.van-icon-bell:before {
  content: "\e6a6";
}

.van-icon-bar-chart-o:before {
  content: "\e6a7";
}

.van-icon-balance-list-o:before {
  content: "\e6a8";
}

.van-icon-bars:before {
  content: "\e6a9";
}

.van-icon-balance-pay:before {
  content: "\e6aa";
}

.van-icon-birthday-cake-o:before {
  content: "\e6ab";
}

.van-icon-bill-o:before {
  content: "\e6ac";
}

.van-icon-bookmark:before {
  content: "\e6ad";
}

.van-icon-bookmark-o:before {
  content: "\e6ae";
}

.van-icon-browsing-history-o:before {
  content: "\e6af";
}

.van-icon-brush-o:before {
  content: "\e6b0";
}

.van-icon-bill:before {
  content: "\e6b1";
}

.van-icon-bullhorn-o:before {
  content: "\e6b2";
}

.van-icon-bulb-o:before {
  content: "\e6b3";
}

.van-icon-calendar-o:before {
  content: "\e6b4";
}

.van-icon-card:before {
  content: "\e6b5";
}

.van-icon-cart:before {
  content: "\e6b6";
}

.van-icon-browsing-history:before {
  content: "\e6b7";
}

.van-icon-cart-o:before {
  content: "\e6b8";
}

.van-icon-chart-trending-o:before {
  content: "\e6b9";
}

.van-icon-cash-back-record:before {
  content: "\e6ba";
}

.van-icon-certificate:before {
  content: "\e6bb";
}

.van-icon-cashier-o:before {
  content: "\e6bc";
}

.van-icon-cash-on-deliver:before {
  content: "\e6bd";
}

.van-icon-cart-circle-o:before {
  content: "\e6be";
}

.van-icon-chat:before {
  content: "\e6bf";
}

.van-icon-clock:before {
  content: "\e6c0";
}

.van-icon-circle:before {
  content: "\e6c1";
}

.van-icon-cart-circle:before {
  content: "\e6c2";
}

.van-icon-apps-o:before {
  content: "\e6c3";
}

.van-icon-clear:before {
  content: "\e6c4";
}

.van-icon-close:before {
  content: "\e6c5";
}

.van-icon-checked:before {
  content: "\e6c6";
}

.van-icon-comment-o:before {
  content: "\e6c7";
}

.van-icon-comment-circle-o:before {
  content: "\e6c8";
}

.van-icon-closed-eye:before {
  content: "\e6c9";
}

.van-icon-clock-o:before {
  content: "\e6ca";
}

.van-icon-cluster-o:before {
  content: "\e6cb";
}

.van-icon-chat-o:before {
  content: "\e6cc";
}

.van-icon-cluster:before {
  content: "\e6cd";
}

.van-icon-column:before {
  content: "\e6ce";
}

.van-icon-comment:before {
  content: "\e6cf";
}

.van-icon-contact:before {
  content: "\e6d0";
}

.van-icon-credit-pay:before {
  content: "\e6d1";
}

.van-icon-coupon-o:before {
  content: "\e6d2";
}

.van-icon-completed:before {
  content: "\e6d3";
}

.van-icon-descending:before {
  content: "\e6d4";
}

.van-icon-comment-circle:before {
  content: "\e6d5";
}

.van-icon-cross:before {
  content: "\e6d6";
}

.van-icon-diamond:before {
  content: "\e6d7";
}

.van-icon-delete:before {
  content: "\e6d8";
}

.van-icon-diamond-o:before {
  content: "\e6d9";
}

.van-icon-envelop-o:before {
  content: "\e6da";
}

.van-icon-desktop-o:before {
  content: "\e6db";
}

.van-icon-ecard-pay:before {
  content: "\e6dc";
}

.van-icon-edit:before {
  content: "\e6dd";
}

.van-icon-coupon:before {
  content: "\e6de";
}

.van-icon-delete-o:before {
  content: "\e6df";
}

.van-icon-down:before {
  content: "\e6e0";
}

.van-icon-ellipsis:before {
  content: "\e6e1";
}

.van-icon-enlarge:before {
  content: "\e6e2";
}

.van-icon-expand:before {
  content: "\e6e3";
}

.van-icon-description:before {
  content: "\e6e4";
}

.van-icon-exchange:before {
  content: "\e6e5";
}

.van-icon-eye-o:before {
  content: "\e6e6";
}

.van-icon-expand-o:before {
  content: "\e6e7";
}

.van-icon-eye:before {
  content: "\e6e8";
}

.van-icon-fail:before {
  content: "\e6e9";
}

.van-icon-debit-pay:before {
  content: "\e6ea";
}

.van-icon-discount:before {
  content: "\e6eb";
}

.van-icon-filter-o:before {
  content: "\e6ec";
}

.van-icon-failure:before {
  content: "\e6ed";
}

.van-icon-fire:before {
  content: "\e6ee";
}

.van-icon-font:before {
  content: "\e6ef";
}

.van-icon-flag-o:before {
  content: "\e6f0";
}

.van-icon-font-o:before {
  content: "\e6f1";
}

.van-icon-fire-o:before {
  content: "\e6f2";
}

.van-icon-free-postage:before {
  content: "\e6f3";
}

.van-icon-friends-o:before {
  content: "\e6f4";
}

.van-icon-gem-o:before {
  content: "\e6f5";
}

.van-icon-gem:before {
  content: "\e6f6";
}

.van-icon-friends:before {
  content: "\e6f7";
}

.van-icon-gift:before {
  content: "\e6f8";
}

.van-icon-gift-o:before {
  content: "\e6f9";
}

.van-icon-gift-card-o:before {
  content: "\e6fa";
}

.van-icon-good-job:before {
  content: "\e6fb";
}

.van-icon-flower-o:before {
  content: "\e6fc";
}

.van-icon-gold-coin-o:before {
  content: "\e6fd";
}

.van-icon-gold-coin:before {
  content: "\e6fe";
}

.van-icon-good-job-o:before {
  content: "\e6ff";
}

.van-icon-home-o:before {
  content: "\e700";
}

.van-icon-gift-card:before {
  content: "\e701";
}

.van-icon-graphic:before {
  content: "\e702";
}

.van-icon-hot-o:before {
  content: "\e703";
}

.van-icon-idcard:before {
  content: "\e704";
}

.van-icon-hot-sale-o:before {
  content: "\e705";
}

.van-icon-info:before {
  content: "\e706";
}

.van-icon-hot-sale:before {
  content: "\e707";
}

.van-icon-hotel-o:before {
  content: "\e708";
}

.van-icon-goods-collect-o:before {
  content: "\e709";
}

.van-icon-info-o:before {
  content: "\e70a";
}

.van-icon-label-o:before {
  content: "\e70b";
}

.van-icon-hot:before {
  content: "\e70c";
}

.van-icon-label:before {
  content: "\e70d";
}

.van-icon-location-o:before {
  content: "\e70e";
}

.van-icon-goods-collect:before {
  content: "\e70f";
}

.van-icon-location:before {
  content: "\e710";
}

.van-icon-lock:before {
  content: "\e711";
}

.van-icon-like-o:before {
  content: "\e712";
}

.van-icon-live:before {
  content: "\e713";
}

.van-icon-manager-o:before {
  content: "\e714";
}

.van-icon-like:before {
  content: "\e715";
}

.van-icon-manager:before {
  content: "\e716";
}

.van-icon-map-marked:before {
  content: "\e717";
}

.van-icon-logistics:before {
  content: "\e718";
}

.van-icon-more:before {
  content: "\e719";
}

.van-icon-medal:before {
  content: "\e71a";
}

.van-icon-more-o:before {
  content: "\e71b";
}

.van-icon-music-o:before {
  content: "\e71c";
}

.van-icon-music:before {
  content: "\e71d";
}

.van-icon-newspaper-o:before {
  content: "\e71e";
}

.van-icon-minus:before {
  content: "\e71f";
}

.van-icon-new-o:before {
  content: "\e720";
}

.van-icon-new-arrival:before {
  content: "\e721";
}

.van-icon-notes-o:before {
  content: "\e722";
}

.van-icon-orders-o:before {
  content: "\e723";
}

.van-icon-medal-o:before {
  content: "\e724";
}

.van-icon-new:before {
  content: "\e725";
}

.van-icon-new-arrival-o:before {
  content: "\e726";
}

.van-icon-other-pay:before {
  content: "\e727";
}

.van-icon-pause:before {
  content: "\e728";
}

.van-icon-peer-pay:before {
  content: "\e729";
}

.van-icon-paid:before {
  content: "\e72a";
}

.van-icon-passed:before {
  content: "\e72b";
}

.van-icon-pause-circle:before {
  content: "\e72c";
}

.van-icon-pause-circle-o:before {
  content: "\e72d";
}

.van-icon-phone-o:before {
  content: "\e72e";
}

.van-icon-pending-payment:before {
  content: "\e72f";
}

.van-icon-photograph:before {
  content: "\e730";
}

.van-icon-phone-circle:before {
  content: "\e731";
}

.van-icon-photo-fail:before {
  content: "\e732";
}

.van-icon-phone:before {
  content: "\e733";
}

.van-icon-photo:before {
  content: "\e734";
}

.van-icon-plus:before {
  content: "\e735";
}

.van-icon-photo-o:before {
  content: "\e736";
}

.van-icon-play:before {
  content: "\e737";
}

.van-icon-play-circle:before {
  content: "\e738";
}

.van-icon-share:before {
  content: "\e739";
}

.van-icon-point-gift:before {
  content: "\e73a";
}

.van-icon-points:before {
  content: "\e73b";
}

.van-icon-point-gift-o:before {
  content: "\e73c";
}

.van-icon-printer:before {
  content: "\e73d";
}

.van-icon-revoke:before {
  content: "\e73e";
}

.van-icon-phone-circle-o:before {
  content: "\e740";
}
