@font-face {
  font-family: "shops-icon"; /* Project id 3352422 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_3352422_akh6g4mud1.woff2?t=1654047796524') format('woff2'),
       url('//at.alicdn.com/t/font_3352422_akh6g4mud1.woff?t=1654047796524') format('woff'),
       url('//at.alicdn.com/t/font_3352422_akh6g4mud1.ttf?t=1654047796524') format('truetype');
}

.shops-icon {
  font-family: "shops-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shops-icon-cate:before {
  content: "\e975";
}

.shops-icon-wuliu:before {
  content: "\e604";
}

.shops-icon-success:before {
  content: "\e602";
}

.shops-icon-wxpay:before {
  content: "\e689";
}

.shops-icon-zfbpay:before {
  content: "\e68a";
}

.shops-icon-faxian:before {
  content: "\ff77";
}

.shops-icon-qianbao:before {
  content: "\e67e";
}

.shops-icon-gerenjubaodengji:before {
  content: "\e608";
}

.shops-icon-address:before {
  content: "\e64d";
}

.shops-icon-qiandao:before {
  content: "\e60b";
}

.shops-icon-kefu:before {
  content: "\e603";
}

.shops-icon-pintuan:before {
  content: "\e601";
}

.shops-icon-shezhi:before {
  content: "\e658";
}

.shops-icon-yijianfankui:before {
  content: "\f95d";
}

.shops-icon-pinglun-08:before {
  content: "\fc1d";
}

.shops-icon-bangzhu:before {
  content: "\fda9";
}
