.wrap-swiper {
	height: 100vh;
}
.wrap-list-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
}
.wrap-list-nav-info {
	border-radius: 15px 15px 0 0;
}
.price-up,.price-down {
	border: 5px solid transparent;
	border-bottom-color: #ccc;
} 
.price-down {
	border-bottom-color: transparent;
	border-top-color: #ccc;
}
.price-up.t-color-p{
	border-bottom-color: #FB5129;
}
.price-down.t-color-p  {
	border-top-color: #FB5129;
}
.pintuan-item {
	width: calc((100% - 25px) / 3);
	margin-bottom: 12px;
}
.wrap-sub-cate {
	margin-bottom: 10px;
}
.sub-item {
	width: 33.3%;
}
.sub-item .bg-img {
	background-size: contain!important;
}
.cate-on {
	position: relative;
	background-color: #fff;
	    color: #000;
	    font-size: 15px!important;
	    font-weight: 600;
}
.cate-on::before {
	    content: "";
	    position: absolute;
	    border-left: 3px solid #fe6600;
	    height: 16px;
	    left: 0;
}
.video-img {
	width: 67%;
	height: 600upx;
}